footer li { list-style:none; float: left; margin-left: 5px; }

.status { padding: 5px; border: 2px solid #ccc; background: #f3f3f3; }
.status.error { border-color: #f1e4e4; background: #fcf8f8; }
.status.success { border-color: #e5eed7; background: #f2f7e8; }



/**/

.register-form label,.login-form label{
	display: inline-block;
	width:150px;
}
.register-form div,.login-form div{
	margin:7px 0;
}